[Unit]
Description=NGINX metrics exporter for Prometheus
After=network-online.target

[Service]
ExecStart=/usr/local/bin/nginxlog-exporter -config-file /etc/nginxlog-exporter.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
ProtectSystem=no
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
